{% extends "layout.html" %}

{% block title %}
    Deadlines
{% endblock %}

{% block main %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-start">Deadlines</th>
                </tr>
            </thead>
            <tbody>
                {% for task in deadlines %}
                    <tr>
                        <td class="text-start">{{ task.task }}<br>
                            Date: {{ task.date }} 
                            <form method="post" action="/deadlines.html">
                                <div>
                                    <input type="hidden" name="deadline" value="{{ task.task }}">
                                    <input type="hidden" name="date" value="{{ task.date }}">
                                    <button id="del_btn" class="btn btn-primary" type="submit" name="Del_button">Delete</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                    
                {% else %}
                <tr>
                    <td class="text-start">No deadlines assigned</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <form action="/deadlines.html" method="post" id = form >
        <div class="mb-3">
            <input autocomplete="off" id="add_item" name="deadline" placeholder="Task" type="text">
            <label for="start">Date:</label>
            <input autocomplete="off" id="add_item" name="date" type="date">
        </div>
        <button class="btn btn-primary" type="submit" name="Add_button">Add New Deadline</button>
    </form>
{% endblock %}