{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" id="usrname" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input id="passwrd" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input id="passwrd" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button id="bttn" class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}